body {
  background-color: hsl(0, 0%, 98%);
  font-family: "Poppins";
  text-align: center;
  color: hsl(234, 12%, 34%);
}

h1 {
  font-size: 3rem;

}

p, h3 {
  color: hsl(229, 6%, 66%);
  font-weight: 400;
}

.heading-light {
  font-weight: 200;
  margin: 75px auto 15px;
}


.heading-bold {
  font-weight: 600;
  margin-top: 0;

}

.subtitle-ctnr{
  width: 650px;
  margin:auto;
}
.subtitle{
  margin: 10px auto 50px;
  line-height: 2;
}

.subtitle-size{
  font-size: 2rem;
}

.wrapper{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 170px;
  grid-column-gap: 20px;
  grid-row-gap: 40px;
  margin: 50px 5%;
  text-align: center;

}

 .card{
   background-color: #fff;
   border-radius: 10px;
   box-shadow: 0 8px 20px  hsl(229, 28%, 85%);
   margin: 0 15px;
text-align: left;
padding: 15px 7%;
/* width:350px; */
/* margin: 15px 0; */
 }

.card1-ctnr{
  background-color: blue;

}
 .card1{
  grid-column:1/2;
  grid-row: 2/4;
  border-top: 10px solid;
  border-color: hsl(180, 62%, 55%);
}

.card2{
 grid-column:2/3;
 grid-row: 1/3;

 border-top: 10px solid;
 border-color: hsl(0, 78%, 62%);
}

.card3{
 grid-column:2/3;
 grid-row: 3/5;

 border-top: 10px solid;
 border-color: hsl(34, 97%, 64%);
}

.card4{
 grid-column:3/4;
 grid-row: 2/4;
 border-top: 10px solid;
 border-color: hsl(212, 86%, 64%);

}

.icon{
  position: relative;
  padding-left: 70%;
  padding-top: 25%;
  width:25%;
  margin-right: 10%;
}

@media only screen and (max-width: 375px){
  .subtitle-ctnr {
    width: 95%;
  }
  .wrapper{
    width: 90%;
    display: block;
  margin: 80px auto;
  }

.card {
  margin: 30px auto;
}

.icon{
  position: relative;
  padding-left: 150px;
  padding-top: 75px;
  width:25%;
}

  h1 {
  font-size: 6vw;}

}






















/* footer */
 .footer {
   text-align: center;
   display: block;
 }
.attribution { font-size: 11px; margin-bottom: 10px; }
.attribution a { color: hsl(228, 45%, 44%); }
